<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gimli is here</title>
</head>
<body>
    <nav>
        <a href="/about/">About</a>
        <a href="/contact-us/">Contact Us</a>
        <a href="store">store</a>
    </nav>
    <h1>Congratulations, you have found Gimli!</h1>
    <p1>Here he is!</p1>
    <br>
    <img src="{{url_for ('static', filename='gimli.png')}}" style="width:500px; ">
    <br>
    <a href="https://google.com">Gimli has given you a link to google</a>
</body>
</html>